.clearfix{
    clear: both;
    content: " ";
}
.background{
    background-color: #3A4965;
}
.table{
    border: 1px solid #E8E8E8;
    border-collapse: collapse;
    font-family: "Arimo", sans-serif;
    background-color: white;
}
.plan-types{
    border: 1px solid #E8E8E8;
}
.all-types{
    text-align: center;
    text-transform: uppercase;
}
.plan-types-header{
    width: 278px;
    height: 71px;
    font-size: 18px;
    vertical-align: center;
    border: 1px solid #E8E8E8;
}
.plan-types-header-bigger-text{
    font-size: 30px;
}
.prices{
    font-size: 18px;
}
.dollars{
    font-size: 60px;
}
.plan-types-standard{
    width: 278px;
    height: 71px;
    border: 1px solid #89C331;
    background-color: #89C331;
    font-size: 24px;
    color: white;
}
.plan-types-ultimate{
    width: 278px;
    height: 71px;
    border: 1px solid #F04A56;
    background-color: #F04A56;
    font-size: 24px;
    color: white;
}
.plan-types-premium {
    width: 278px;
    height: 71px;
    border: 1px solid #20807C;
    background-color: #20807C;
    font-size: 24px;
    color: white;
}
.pricing-plan{
    width: 278px;
    height: 87px;
    border: 1px solid #DFDFDF;
}
.prices{
    border: 1px solid #DFDFDF;
}
.light-bg{
    background-color: #F2F2F2;
}
.plan-element{
    width: 278px;
    height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    border: 1px solid #E1E1E1;
    color: #484848;
}
.dark-bg{
    background-color: #E3E3E3;
}
.plan-element-dark{
    width: 278px;
    height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    border: 1px solid #CFCFCF;
    color: #484848;
}
.btn{
    width: 278px;
    height: 87px;
    border: 1px solid #E1E1E1 ;
}
.grey-btn{
    width: 193px;
    height: 50px;
    background-color: #484848;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 7px;
}
.green-btn{
    width: 193px;
    height: 50px;
    background-color: #89C331;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 7px;
}
.red-btn{
    width: 193px;
    height: 50px;
    background-color: #F04A56;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 7px;
}
.darkgreen-btn{
    width: 193px;
    height: 50px;
    background-color: #20807C;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 7px;
}
.btn-grey{
    background-color: #E3E3E3;
}
.btn-lightgrey{
    background-color: #EEEEEE;
}
.btn-white{
    background-color: #EEEEEE;
}

input {
    outline:none;
}
